<div class="row mt-5 mb-5">
  <div class="col-3">
    <div class="card border-primary">
      <div class="card-body">
        <fa-icon [icon]="faShoppingCart" id="cart" class="text-primary"></fa-icon>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-success">
      <div class="card-body">
          <fa-icon [icon]="faShoppingCart" id="" class="text-success"></fa-icon>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-danger">
      <div class="card-body">
          <fa-icon [icon]="faShoppingCart" id="" class="text-danger"></fa-icon>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>ProductID</th>
      <th>User name</th>
      <th>User email</th>
      <th>Shipping address</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of list">
      <td>{{ order.id }}</td>
      <td>{{ order.insdate }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.userName }}</td>
      <td>{{ order.userEmail }}</td>
      <td>{{ order.shippingAddress }}</td>
      <td>{{ order.quantity }}</td>
      <td class="">
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger ml-1">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
