.water {
  width: 200px;
}

#currentImg {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.product-background {
    opacity: 0.75;
}

.picker {
    list-style-type:none;
}

.picker li {
    float: left;
    list-style-type:none;
    text-align: center;
}

.picker li img {
    width: 100px;
    height: auto;
    cursor: pointer;
}
