<h1 class="text-center">Aquariums</h1>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4 mb-5" *ngFor="let product of productList |filter:'aquariums'">

      <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="{{product.img}}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{product.name}}</h4>
          <p class="card-text">{{product.details1}}</p>
          <a href="#" class="btn btn-primary" routerLink="/order/{{product.id}}">Order</a>
        </div>
      </div>
    </div>
  </div>
</div>
